@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  color: white
}

.inner-shadow {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

.developer span {
  font-weight: 600;
  color: #FFA500;
}

.developer {
  text-align: center;
}